# Jamf Platform API gateway URL, e.g. https://us.api.jamfcloud.com
jamfplatform_base_url = ""

# Your Jamf platform environment UUID
jamfplatform_environment_id = ""

# OAuth2 API client credentials. See Prerequisites in README.md for setup steps.
jamfplatform_client_id     = ""
jamfplatform_client_secret = ""
